/* Definição de Variáveis */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", 
                     "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Work Sans", sans-serif;
    --color-default: #364d59;
    --color-primary: #1F7489;
    --color-secondary: #52565e;
    scroll-behavior: smooth;
}

/* Configuração Geral */
body {
    font-family: var(--font-default);
    color: var(--color-default);
    overflow-x: hidden;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: #ffc732;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
}

/* Seções */
section {
    padding: 80px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f5f6f7;
}

.section-header {
    text-align: center;
    padding-bottom: 70px;
}

.section-header h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    color: #2e3135;
}

.section-header h2:before, 
.section-header h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--color-primary);
    display: inline-block;
}

.section-header h2:before {
    margin: 0 15px 10px 0;
}

.section-header h2:after {
    margin: 0 0 10px 15px;
}

.section-header p {
    margin: 0 auto;
}

@media (min-width: 1199px) {
    .section-header p {
        max-width: 60%;
    }
}

/* Breadcrumbs */
.breadcrumbs {
    padding: 140px 0 60px 0;
    min-height: 30vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.breadcrumbs:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
}

.breadcrumbs h2 {
    font-size: 56px;
    font-weight: 500;
    color: #fff;
    font-family: var(--font-secondary);
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-primary);
}

.breadcrumbs ol a {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}

.breadcrumbs ol a:hover {
    text-decoration: underline;
}

.breadcrumbs ol li + li {
    padding-left: 10px;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #fff;
    content: "/";
}

/* Scroll Top */
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: var(--color-secondary);
    line-height: 0;
}

.scroll-top:hover {
    background: #ffc732;
    color: #fff;
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
}

/* Header */
.header {
    background-color: #FFF;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 997;
    position: absolute;
    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
}

.header .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.header .logo h1 {
    font-size: 24px;
    font-weight: 700;
    color: #021B29;
    margin-bottom: 0;
    font-family: var(--font-primary);
}

.header .logo h1 span {
    color: var(--color-primary);
}

/* Navbar */
@media (min-width: 1280px) {
    .navbar {
        padding: 0;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
    }

    .navbar>ul>li {
        white-space: nowrap;
        padding: 10px 0 10px 28px;
    }

    .navbar a {
        display: flex;
        align-items: center;
        padding: 0 3px;
        font-family: var(--font-primary);
        font-size: 14px;
        font-weight: 500;
        color: #021B29;
        text-transform: uppercase;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navbar a:hover {
        color: #1F7489;
    }
}

/* Paginação */
.pagination {
    display: flex;
    justify-content: center; /* Centraliza os itens da lista de paginação */
    margin-top: 1.5rem; /* Adiciona espaço acima da paginação */
    padding: 10px 0;
}

.pagination li {
    margin: 0 8px; /* Adiciona espaçamento entre os itens da paginação */
    list-style: none;
}

.pagination li a {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: var(--color-default);
    transition: background-color 0.3s, color 0.3s;
}

.pagination li a:hover {
    background-color: var(--color-primary);
    color: #fff;
}

.pagination .active a {
    background-color: var(--color-primary);
    color: #fff;
    font-weight: bold;
}

/* Footer */
.footer {
    color: #fff;
    background: url(../img/footer-bg.jpg) top center no-repeat;
    background-size: cover;
    font-size: 14px;
    padding: 80px 0 60px 0;
    position: relative;
}

.footer:before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    inset: 0;
}

.footer .footer-content h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-content .footer-links ul li {
    padding: 8px 0;
}

.footer .footer-content .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
}

.footer .footer-content .footer-links ul a:hover {
    color: #fff;
}

.footer .footer-legal .copyright {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.pagination {
    display: flex; /* Garante que os itens da paginação fiquem em linha */
    justify-content: center; /* Centraliza os itens da paginação */
    margin: 1.5rem auto; /* Adiciona espaçamento acima e centraliza horizontalmente */
}

.pagination li {
    margin: 0 10px; /* Espaçamento entre os itens da paginação */
    list-style: none; /* Remove o marcador de lista */
}

.pagination li a {
    text-decoration: none; /* Remove o sublinhado do link */
    padding: 10px 15px; /* Adiciona espaçamento interno */
    border: 1px solid #ccc; /* Borda para cada link */
    border-radius: 5px; /* Bordas arredondadas */
    color: var(--color-default); /* Cor do texto */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

.pagination li a:hover {
    background-color: var(--color-primary); /* Fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}

.pagination .active a {
    background-color: var(--color-primary); /* Fundo do item ativo */
    color: #fff; /* Cor do texto no item ativo */
    font-weight: bold; /* Texto em negrito */
}